<div class="container-fluid pt-5">
  <div class="container pb-3">
    <div class="row">
      <div class="col-lg-4 col-md-6 pb-1">
        <div
          class="d-flex bg-light shadow-sm border-top rounded mb-4"
          style="padding: 30px"
        >
          <i
            class="flaticon-032-book h1 font-weight-normal text-primary mb-3"
          ></i>
          <div class="pl-4">
            <h4>Cantinho da Leitura</h4>
            <p class="m-0">
              Espaço aconchegante repleto de livros para despertar a
              imaginação, enriquecer o vocabulário e criar o hábito
              da leitura diária desde cedo.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 pb-1">
        <div
          class="d-flex bg-light shadow-sm border-top rounded mb-4"
          style="padding: 30px"
        >
          <i
            class="flaticon-040-puzzle h1 font-weight-normal text-primary mb-3"
          ></i>
          <div class="pl-4">
            <h4>Brincar e Aprender</h4>
            <p class="m-0">
              Jogos educativos e brinquedos que estimulam a socialização,
              coordenação motora e raciocínio lógico. Aqui o aprendizado
              acontece brincando!
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 pb-1">
        <div
          class="d-flex bg-light shadow-sm border-top rounded mb-4"
          style="padding: 30px"
        >
          <i
            class="flaticon-030-crayons h1 font-weight-normal text-primary mb-3"
          ></i>
          <div class="pl-4">
            <h4>Artes e Criatividade</h4>
            <p class="m-0">
              Pintura, colagem e atividades manuais que desenvolvem a
              coordenação motora fina e permitem que a criança expresse
              suas emoções com liberdade.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 pb-1">
        <div
          class="d-flex bg-light shadow-sm border-top rounded mb-4"
          style="padding: 30px"
        >
          <i
            class="flaticon-019-pencil h1 font-weight-normal text-primary mb-3"
          ></i>
          <div class="pl-4">
            <h4>Tarefa de Casa em Dia</h4>
            <p class="m-0">
              Acompanhamento dedicado nas lições de casa e trabalhos
              escolares. Seu filho aprende o conteúdo e a família tem
              noites mais tranquilas.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 pb-1">
        <div
          class="d-flex bg-light shadow-sm border-top rounded mb-4"
          style="padding: 30px"
        >
          <i
            class="flaticon-021-juice-box h1 font-weight-normal text-primary mb-3"
          ></i>
          <div class="pl-4">
            <h4>Hora do Lanchinho</h4>
            <p class="m-0">
              Pausa monitorada para recarregar as energias. Momento de
              convívio social onde incentivamos a autonomia e bons
              hábitos de higiene.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 pb-1">
        <div
          class="d-flex bg-light shadow-sm border-top rounded mb-4"
          style="padding: 30px"
        >
          <i
            class="flaticon-043-teddy-bear h1 font-weight-normal text-primary mb-3"
          ></i>
          <div class="pl-4">
            <h4>Acolhimento Divertido</h4>
            <p class="m-0">
              A diversão começa na porta! Nosso corredor tem desenhos e
              brincadeiras de chão para seu filho entrar sorrindo,
              motivado e feliz.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
